<div
  class="modal fade"
  id="notificationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="planModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="planModal">Enviar notificación</h5>
        <button
          mat-button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="modalForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <div class="col-12">
              <mat-form-field
                [ngClass]="{ 'has-success': showSuccess('title') }"
              >
                <input
                  formControlName="title"
                  matInput
                  type="text"
                  placeholder="Asunto"
                />
                <mat-error *ngIf="hasError('title', 'required')">
                  El nombre es requerido
                </mat-error>
                <mat-error *ngIf="hasError('title', 'minlength')">
                  El asunto debe tener mínimo 3 caracteres
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <mat-form-field>
                <textarea
                  formControlName="description"
                  matInput
                  rows="6"
                  placeholder="Descripción"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <input
              type="file" formControlName="file"
              [accept]="extensions()"
              (change)="handleFileInput($event.target.files)">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <button
                [disabled]="!modalForm.valid"
                type="submit"
                class="btn btn-info btn-round"
              >
                Crear
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
