<app-navbar [isLight]="true" [isFluid]="false"
[hasName]="true" name="Mi Cole" [public]="true"></app-navbar>
<div class="wrapper wrapper-full-page">
  <div class="page-header error-page header-filter error-background" filter-color="black"
  style="height: 100vh;">
    <div class="content-center">
      <div class="row">
        <div class="col-md-12">
          <!-- <h1 class="title text-center">404</h1> -->
          <h2 class="text-center">Pagina no encontrada :(</h2>
          <h4 class="text-center">Parece que has navegado a una pagina que no existe.</h4>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>




