<!-- [attr.data-target]="'#formFranchiseModal' + index" -->
<button
  class="btn btn-round full-width {{ btnClass }}"
  [disabled]="disabled"
  data-toggle="modal"
  (click)="openModal()"
>
  {{ buttonText }}
</button>

<div
  class="modal fade"
  [id]="'formFranchiseModal' + index"
  tabindex="-1"
  role="dialog"
  aria-labelledby="planModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="planModal">{{ modalText }}</h5>
        <button
          mat-button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="modalForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <div class="col-12" *ngIf="showGrade()">
              <mat-form-field
                [ngClass]="{ 'has-success': showSuccess('name') }"
              >
                <input
                  formControlName="name"
                  matInput
                  type="text"
                  placeholder="Nombre"
                />
                <mat-error *ngIf="hasError('name', 'required')">
                  El nombre es requerido
                </mat-error>
                <mat-error *ngIf="hasError('name', 'minlength')">
                  El nombre debe tener mínimo 3 caracteres
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-12" *ngIf="showPeriod()">
              <mat-form-field
                [ngClass]="{ 'has-success': showSuccess('name') }"
              >
                <input
                  formControlName="name"
                  matInput
                  type="number"
                  placeholder="Nombre"
                />
                <mat-error *ngIf="hasError('name', 'required')">
                  El numero del periodo es requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12" *ngIf="showSetting()">
              <mat-form-field
                [ngClass]="{ 'has-success': showSuccess('name') }"
              >
                <mat-select
                  placeholder="Regla"
                  formControlName="name"
                  (selectionChange)="isDownloadGrade($event.value)"
                >
                  <mat-option *ngFor="let p of getRules()" [value]="p">
                    {{ ruleValue[p] }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('name', 'required')">
                  La configuración es requerida
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row mb-3" *ngIf="showGrade() || showPeriod()">
            <div class="col-12">
              <mat-form-field>
                <textarea
                  formControlName="description"
                  matInput
                  rows="6"
                  placeholder="Descripción"
                ></textarea>
              </mat-form-field>
              <span>{{3000 - modalForm.get('description').value.length}} / 3000</span>
            </div>
          </div>
          
          <div  class="col-12" *ngIf="swShowDate">            
            <input matInput [matDatepicker]="picker" placeholder="Fecha">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>


          <div class="row mb-3" *ngIf="isGrade()">
            <label>El grado es pre escolar ?</label>
            <div class="col-12" *ngIf="isGrade()">
              <mat-radio-group
                formControlName="preschool"
                [ngClass]="{ 'has-success': showSuccess('preschool') }"
              >
                <mat-radio-button value="1" class="radio-space"
                  >Si</mat-radio-button
                >
                <mat-radio-button value="0">No</mat-radio-button>
                <mat-error *ngIf="hasError('preschool', 'required')">
                  El valor para saber si es pre escolar o no es requerido
                </mat-error>
              </mat-radio-group>
            </div>
          </div>

          <div class="row mb-3" *ngIf="showSetting()">
            <div class="col-12" *ngIf="!showDownload">
              <mat-form-field
                [ngClass]="{ 'has-success': showSuccess('description') }"
              >
                <input
                  formControlName="description"
                  matInput
                  type="number"
                  step="0.01"
                  placeholder="Valor"
                />
                <mat-error *ngIf="hasError('description', 'required')">
                  El valor de la configuración es requerida
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12" *ngIf="showDownload">
              <mat-radio-group
                formControlName="description"
                [ngClass]="{ 'has-success': showSuccess('description') }"
              >
                <mat-radio-button value="1" class="radio-space"
                  >Permitir</mat-radio-button
                >
                <mat-radio-button value="0">No Permitir</mat-radio-button>
                <mat-error *ngIf="hasError('description', 'required')">
                  El valor de la configuración es requerida
                </mat-error>
              </mat-radio-group>
            </div>
          </div>
          <div class="row mb-3" *ngIf="showNotification()">
            
            <div class="row">
            <div class="col-6">
              <label>Seleccione el rol a notificar</label>
              <div formArrayName="role">
                <div *ngFor="let key of roleKeys(); let i = index" class="roles-notifications">
                  <mat-checkbox
                    [formControlName]="i"
                    (change)="onRoleChange($event, key,i)"
                  >
                    {{ roles[key] }}
                  </mat-checkbox>
                </div>
              </div>
            </div>
            <div class="col-6">
              <label>Seleccione el grado, curso o sede</label>
              <mat-form-field>
                <mat-label>Grado</mat-label>
                <mat-select [(ngModel)]="selectedGrade" (selectionChange)="onGradeChange($event)" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let grade of lstGrades" [value]="grade">
                    {{ grade.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Curso</mat-label>
                <mat-select [(ngModel)]="selectedCourse" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let course of lstCourses" [value]="course">
                    {{ course.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Sede</mat-label>
                <mat-select [(ngModel)]="selectedSede" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let sede of lstSedes" [value]="sede">
                    {{ sede.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            </div>
          </div>
          <div class="row mb-3" *ngIf="showNotification()">
            <div class="col-12">
              <input
                type="file"
                formControlName="file"
                [accept]="extensions()"
                (change)="handleFileInput($event.target.files)"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <button
                [disabled]="!modalForm.valid"
                type="submit"
                class="btn btn-info btn-round"
              >
                <ng-template [ngIf]="currentValue">Actualizar</ng-template>
                <ng-template [ngIf]="!currentValue">Enviar</ng-template>                
              </button>
              </div>
              <div class="col-md-6 ml-auto mr-auto text-center">
              <button
                [disabled]="!modalForm.valid"
                type="button"
                class="btn btn-warning btn-round"
                (click)="swShowDate=!swShowDate"
              >
                <ng-template ngIf="true">Programar</ng-template>                
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
