<div class="card">
  <div class="card-header card-header-icon">
    <div class="card-icon card-icon-color">
      <i class="material-icons">perm_identity</i>
    </div>
    <h4 class="card-title">
      {{title}}
    </h4>
  </div>
  <div class="card-body">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <mat-form-field
          [ngClass]="{'has-success': showSuccess('firstName')}">
            <input
            formControlName="firstName"
            matInput
            type="text"
            placeholder="Primer Nombre">
            <mat-error *ngIf="hasError('firstName','required')">
              El primer nombre es requerido
            </mat-error>
            <mat-error *ngIf="hasError('firstName','minlength')">
              El primer nombre tiene que ser al menos 3 caracteres
            </mat-error>
            <mat-error *ngIf="hasError('firstName','maxlength')">
              El primer nombre tiene que máximo 255 caracteres
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <input
            formControlName="secondName"
            matInput
            type="text"
            placeholder="Segundo Nombre">
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <mat-form-field
          [ngClass]="{'has-success': showSuccess('surname')}">
            <input
            formControlName="surname"
            matInput
            type="text"
            placeholder="Primer Apellido">
          </mat-form-field>
          <mat-error *ngIf="hasError('surname','required')">
            El primer apellido es requerido
          </mat-error>
          <mat-error *ngIf="hasError('surname','minlength')">
            El primer apellido tiene que ser al menos 3 caracteres
          </mat-error>
          <mat-error *ngIf="hasError('surname','maxlength')">
            El primer apellido tiene que máximo 255 caracteres
          </mat-error>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <input
            formControlName="lastname"
            matInput
            type="text"
            placeholder="Segundo Apellido">
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <mat-form-field
          [ngClass]="{'has-success': showSuccess('mobile')}">
            <input
            formControlName="mobile"
            matInput
            type="text"
            placeholder="Celular">
          </mat-form-field>
          <mat-error *ngIf="hasError('mobile','required')">
            El celular es requerido
          </mat-error>
          <mat-error *ngIf="hasError('mobile','pattern')">
            El celular solo puede ser numérico y máximo 10 caracteres
          </mat-error>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field
          [ngClass]="{'has-success': showSuccess('phone') && validPhone()}">
            <input
            formControlName="phone"
            matInput
            type="text"
            placeholder="teléfono fijo">
            <mat-error *ngIf="hasError('phone','phone')">
              El teléfono solo puede ser numérico y máximo 7 caracteres
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <mat-form-field
          [ngClass]="{'has-success': showSuccess('email')}">
            <input
            formControlName="email"
            matInput
            type="email"
            placeholder="Email">
          </mat-form-field>
          <mat-error *ngIf="hasError('email','required')">
            El correo electrónico es requerido
          </mat-error>
          <mat-error *ngIf="hasError('email','email')">
            No es un correo electrónico valido
          </mat-error>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-select placeholder="Rh" formControlName="rh">
              <mat-option *ngFor="let bt of getBloadTypes()" [value]="bt">
                {{ bloodType[bt] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-select placeholder="Tipo de identification" formControlName="identificationType">
              <mat-option *ngFor="let it of getIdentificationTypes()" [value]="it">
                {{ identificationType[it] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field
          [ngClass]="{'has-success': showSuccess('identification')}">
            <input
            formControlName="identification"
            matInput
            type="text"
            placeholder="Numero de identificacion">
            <mat-error *ngIf="hasError('identification','required')">
              El documento es requerido
            </mat-error>
            <mat-error *ngIf="hasError('identification','minlength')">
              El documento debe ser mínimo 4 caracteres
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-12" style="padding-left: 0px;">
          <div class="col-12">
            <mat-form-field>
              <mat-select placeholder="Genero" formControlName="gender">
                <mat-option *ngFor="let it of getGender()" [value]="it">
                  {{ gender[it] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-6" style="padding-left: 0px;">
          <div class="col-12">
            <mat-form-field>
              <mat-select placeholder="Grupo poblacional" formControlName="populationGroup"
              (selectionChange)="selectedPopulationGroup($event.value)">
                <mat-option *ngFor="let it of getPopulationGroup()" [value]="it">
                  {{ populationGroup[it] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12" *ngIf="showOther">
            <mat-form-field
              [ngClass]="{'has-success': showSuccess('populationGroupOther')}">
              <input
              formControlName="populationGroupOther"
              matInput
              type="text"
              placeholder="Otro grupo poblacional">
              <mat-error *ngIf="hasError('populationGroupOther','required')">
                El nombre es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field>
            <mat-select placeholder="Caracteristica especial" formControlName="specialFeature"
            >
              <mat-option *ngFor="let it of getSpecialFeature()" [value]="it">
                {{ specialFeature[it] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <mat-form-field >
            <input matInput
            formControlName="birthday"
            autocomplete="off"
            [max]="maxDate"
            [min]="minDate" [matDatepicker]="picker" placeholder="Fecha de nacimiento" (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker
            ></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <div class="row mb-3">
            <div class="col-12">
              <mat-checkbox formControlName="sms">Activar envio de SMS ?</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3" *ngIf="showSchools || showRoles">
        <div class="col-12 col-md-6" *ngIf="showRoles">
          <mat-form-field>
            <mat-select placeholder="Seleccione el role" name="role"
            formControlName="role"
            >
              <mat-option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6" *ngIf="showSchools">
          <mat-form-field>
            <mat-select placeholder="Seleccione una escuela" name="school"
            formControlName="school"
            >
              <mat-option *ngFor="let school of schools" [value]="school.id">
                {{ school.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>


      </div>

      <div class="row mb-3" *ngIf="showPassword">
        <div class="col-12 col-md-6">
          <mat-form-field
          [ngClass]="{'has-success': showSuccess('newPassword')}">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña"
            formControlName="newPassword"
            autocomplete="current-password"
            />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="hasError('newPassword','required')">
              La contraseña es requerida
            </mat-error>
            <mat-error *ngIf="hasError('newPassword','minlength')">
              La contraseña es mínimo de 8 caracteres
            </mat-error>
            <mat-error *ngIf="hasError('newPassword','pattern')">
              La contraseña debe tener una mayúscula, una minúscula, un numero y un carácter especial
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field
          [ngClass]="{'has-success': showSuccess('newPasswordConfirmation')}"
          >
            <input matInput [type]="hideConfirm ? 'password' : 'text'" placeholder="Confirmar contraseña"
            formControlName="newPasswordConfirmation"
            autocomplete="current-password"
            [errorStateMatcher]="matcher"
            />
            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
              <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="editForm.hasError('confirmation')">
              La contraseña no coincide
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <mat-form-field>
            <textarea
            formControlName="description"
            matInput rows="6" placeholder="Descripción"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <textarea
            formControlName="diseases"
            matInput rows="6" placeholder="Enfermedades"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <button
          [disabled]="!editForm.valid"
          type="submit" class="btn btn-info btn-round">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
