<div class="row"
*appHasPermission="['CanCreateSchool']">
  <div class="col-12 col-md-6 col-lg-4">
    <mat-select placeholder="Seleccionar Filtro" class="white-select" ngClass="btn btn-primary btn-round"
    (selectionChange)="changeFilter($event.value)">
      <mat-option *ngFor="let school of schools" [value]="school.id">
        {{ school.name }}
      </mat-option>
    </mat-select>
  </div>
</div>

<app-table
*ngIf="show"
title="Cursos"
subtitle="Información de todos los cursos"
[headers]="headers"
[items]="items"
[itemKeys]="keys"
[hasPagination]="true"
[pagination]="pagination"
[showSearch]="true"
[hasActions]="true"
[actions]="actions"
(onAction)="onAction($event)"
(onRequest)="onRequest($event)"></app-table>
