<div class="card">
  <div class="card-header card-header-icon">
    <div class="card-icon card-icon-color">
      <i class="material-icons">lock</i>
    </div>
    <h4 class="card-title">
      {{title}}
    </h4>
  </div>
  <div class="card-body">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <mat-form-field
          [ngClass]="{'has-success': showSuccess('oldPassword')}">
            <input matInput [type]="hideOld ? 'password' : 'text'" placeholder="Contraseña vieja"
            formControlName="oldPassword"
            autocomplete="current-password"
            />
            <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
              <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="hasError('oldPassword','required')">
              La contraseña es requerida
            </mat-error>
            <mat-error *ngIf="hasError('oldPassword','minlength')">
              La contraseña es mínimo de 8 caracteres
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <mat-form-field
          [ngClass]="{'has-success': showSuccess('newPassword')}">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nueva contraseña"
            formControlName="newPassword"
            autocomplete="current-password"
            />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="hasError('newPassword','required')">
              La contraseña es requerida
            </mat-error>
            <mat-error *ngIf="hasError('newPassword','minlength')">
              La contraseña es mínimo de 8 caracteres
            </mat-error>
            <mat-error *ngIf="hasError('newPassword','pattern')">
              La contraseña debe tener una mayúscula, una minúscula, un numero y un carácter especial
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field
          [ngClass]="{'has-success': showSuccess('newPasswordConfirmation')}"
          >
            <input matInput [type]="hideConfirm ? 'password' : 'text'" placeholder="Confirmar contraseña"
            formControlName="newPasswordConfirmation"
            autocomplete="current-password"
            [errorStateMatcher]="matcher"
            />
            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
              <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.hasError('confirmation')">
              La contraseña no coincide
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <button
          [disabled]="!passwordForm.valid"
          type="submit" class="btn btn-info btn-round">
            Actualizar contraseña
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
