<div class="row">
  <div class="col-12 col-md-8 col-lg-6 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-icon">
        <div class="card-icon card-icon-color">
          <i class="fa fa-trophy fa-2x"></i>
        </div>
        <h4 class="card-title" *ngIf="!finalGrade">Tareas de la materia</h4>
        <h4 class="card-title" *ngIf="finalGrade">Definitivas de la materia</h4>
      </div>
      <div class="card-body">
        <div id="accordion" role="tablist" *ngIf="tasks.length > 0">
          <div class="card-collapse" *ngFor="let task of tasks; let i = index">
            <div class="card-header" role="tab" id="heading{{ i }}">
              <h5 class="mb-0">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  href="#period{{ i }}"
                  [attr.aria-expanded]="i === 0 ? true : false"
                  attr.aria-controls="period{{ i }}"
                >
                Periodo {{ task.period.position }}
                 
                  <i class="material-icons">keyboard_arrow_down</i>
                </a>
              </h5>
            </div>
            <div
              id="period{{ i }}"
              class="collapse"
              [ngClass]="{ show: i === 0 }"
              role="tabpanel"
              attr.aria-labelledby="period{{ i }}"
              data-parent="#accordion"
              style=""
            >
              <div class="card-body">
                <ng-template [ngIf]="task.tasks.length > 0">
                  <div class="row">
                    <div class="col-12">
                      <div *ngIf="task.tasks.length > 0 && !finalGrade">
                        <i
                        class="fa fa fa-download icon-primariy fa-1.5x ml-2"
                        *appHasPermission="['Teacher','SuperAdmin','Admin']"
                        [matTooltip]="'Descargar planilla'"
                        [matTooltipPosition]="'above'"
                        (click)="downloadTemplate(task.period.id)"
                        ></i>
                        <i
                        class="fa fa fa-upload icon-primariy fa-1.5x ml-2"
                        *appHasPermission="['Teacher','SuperAdmin','Admin']"
                        [matTooltip]="'Subir planilla'"
                        [matTooltipPosition]="'above'"
                        (click)="uploadTemplate(task.period.id)"
                        ></i>
                      </div>
                    </div>
                    <div class="mt-4"></div>
                    <div class="col-12" *ngFor="let info of task.tasks">
                      <div class="inline">
                        <h5 class="col-12">Nombre: {{ info.name }}</h5>
                        <i
                          class="fa fa-eye icon-info fa-1x mr-2"
                          (click)="onShow(info.id)"
                        ></i>
                        <ng-template [ngIf]="info.type !== 'FINAL'">
                          <i
                            class="fa fa-edit icon-primariy fa-1x mr-2"
                            *appHasPermission="['Teacher','SuperAdmin','Admin']"
                            (click)="onEdit(info)"
                          ></i>
                        </ng-template>
                        <i
                          class="fa fa-trash icon-red fa-1x"
                          *appHasPermission="['Teacher','SuperAdmin','Admin']"
                          (click)="onDelete(info)"
                        ></i>
                      </div>
                      <!-- <p class="col-12 mt-2">
                        Desccripcion: {{info.description}}
                      </p> -->
                      <p class="col-12 mt-2" *ngIf="info.type !== 'FINAL'">
                        Fecha de entrega: {{ info.taskDate }}
                      </p>
                      <p class="col-12 mt-2">
                        Porcentaje: {{ info.percentage }}%
                      </p>
                    </div>
                  </div>
                  
                </ng-template>
                <h5 *ngIf="task.tasks.length === 0 && !finalGrade">
                  No hay tareas para este periodo
                </h5>
                <h5 *ngIf="task.tasks.length === 0 && finalGrade">
                  No hay definitiva para este periodo
                </h5>
              </div>
            </div>
          </div>
        </div>
        <h5 class="text-center" *ngIf="tasks.length === 0 && !finalGrade">
          No hay tareas para la materia
        </h5>
        <h5 class="text-center" *ngIf="tasks.length === 0 && finalGrade">
          No hay definitivas para la materia
        </h5>
      </div>
    </div>
  </div>
</div>

<app-task-modal
  [modalTitle]="modalText"
  [modalButton]="modalButton"
  [schoolId]="tasks[0].period.schoolId"
  [showPeriods]="showPeriods"
  (onTask)="onTask($event)"
  [currentTask]="currentTask"
></app-task-modal>

<app-task-final-modal
  [schoolId]="tasks[0].period.schoolId"
  (onTask)="onFinalGrade($event)"
></app-task-final-modal>

<app-task-recovery-modal
  [schoolId]="tasks[0].period.schoolId"
  (onTask)="onRecoveryGrade($event)"
></app-task-recovery-modal>


<div
  class="modal fade"
  *ngIf="fileForm != null"
  id="excelMassiveModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="fileModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Subir notas masivas</h5>
        <button
          mat-button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="fileForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <p class="col-12">Por favor suba el excel con las calificaciones</p>
            <div class="col-6 ml-auto mr-auto">
              <input
                type="file"
                formControlName="file"
                [accept]="extensions()"
                (change)="onFileChange($event)"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <button
                [disabled]="!fileForm.valid"
                type="submit"
                class="btn btn-info btn-round"
              >
                Subir notas
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
