<div class="row">
  <div class="col-12 col-md-8 col-lg-6 ml-auto mr-auto">
    <div class="card">
      <div class="card-header card-header-icon">
        <div class="card-icon card-icon-color">
          <i class="fa fa-trophy fa-2x"></i>
        </div>
        <h4 class="card-title">Próximas tareas</h4>
      </div>
      <div class="card-body">
        <div id="accordion" role="tablist" *ngIf="tasks.length > 0">
          <div class="card-collapse" *ngFor="let task of tasks; let i = index">
            <div class="card-header" role="tab" id="heading{{i}}">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#task{{i}}" [attr.aria-expanded]="i === 0 ? true : false" attr.aria-controls="task{{i}}">
                  {{task.name}}
                  <i class="material-icons">keyboard_arrow_down</i>
                </a>
              </h5>
            </div>
            <div id="task{{i}}" class="collapse" [ngClass]="{'show': i === 0}" role="tabpanel" attr.aria-labelledby="task{{i}}" data-parent="#accordion" style="">
              <div class="card-body">
                <div class="row">
                  <p class="col-12 mt-2">
                    Descripción: {{task.description}}
                  </p>
                  <p class="col-12 mt-2">
                    Porcentaje: {{task.percentage}}%
                  </p>
                  <p class="col-12 mt-2">
                    Fecha de entrega: {{task.taskDate}}
                  </p>
                  <p class="col-12 mt-2">
                    Materia: {{task.subject}}
                  </p>
                  <a class="col-12 mt-2" [routerLink]="['/','dashboard','tasks',task.id]">Ver detalle</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <h5 class="text-center" *ngIf="tasks.length === 0">
          No tienes tareas
        </h5>
      </div>
    </div>
  </div>
</div>
