<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModal" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modalTitle}}</h5>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="fileForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3" *ngIf="!onlyFile">
            <div class="col-12">
              <mat-form-field
              [ngClass]="{'has-success': showSuccess('name')}">
              <input
              formControlName="name"
              matInput
              type="text"
              placeholder="Nombre">
              <mat-error *ngIf="hasError('name','required')">
                El nombre del archivo es requerido
              </mat-error>
              <mat-error *ngIf="hasError('name','minlength')">
                El nombre del archivo tiene que ser almenos 3 caracteres
              </mat-error>
              <mat-error *ngIf="hasError('name','maxlength')">
                El nombre del archvivo tiene que ser máximo 255 caracteres
              </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row mb-3" *ngIf="isUrl && !onlyFile">
            <div class="col-12">
              <mat-form-field
              [ngClass]="{'has-success': showSuccess('url')}">
              <input
              formControlName="url"
              matInput
              type="text"
              placeholder="Link">
              <mat-error *ngIf="hasError('url','required')">
                El url es requerido
              </mat-error>
              <mat-error *ngIf="hasError('url','url')">
                El url no es valido
              </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row mb-3" *ngIf="!isUrl">
            <p class="col-12" *ngIf="!onlyFile">Puede subir pdf, word, excel, mp3, mp4 e imagenes png y jpg</p>
            <p class="col-12" *ngIf="onlyFile">Puede subir pdf, word, excel e imagenes png y jpg</p>
            <div class="col-6 ml-auto mr-auto">
              <input
              type="file" formControlName="file"
              [accept]="extensions()"
              (change)="handleFileInput($event.target.files)">
            </div>
          </div>
          <div class="row mb-3" *ngIf="!onlyFile">
            <div class="col-12">
              <mat-form-field>
                <textarea
                  formControlName="description"
                  matInput rows="6" placeholder="Descripción"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <button
              [disabled]="!fileForm.valid"
              type="submit" class="btn btn-info btn-round">
                Crear
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
