<!-- <p>{{user | json}}</p> -->
<div class="wrapper sidebar-mini">
  <div class="sidebar background-color-sidebar">
    <app-sidebar [currentUser]="loginInfo"></app-sidebar>
    <div class="background-color-sidebar"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="full-width" *ngIf="showButton">
        <button *appHasPermission="['Student']" class="btn btn-danger full-width mb-4" (click)="notify()">Mi Cole Me Cuida</button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
